.navbar-header {
    color: red;
    background-color: red;
    outline-color: red;
}

.dropdown-item {
    color: grey;
}

.dropdown-item:hover {
    color: rgb(54, 52, 52);
    text-decoration: transparent;
}

.dropdown-logout {
    color: rgb(155, 4, 4);
}

.dropdown-logout:hover {
    color: red;
    text-decoration: transparent;
}